<div ng-show="vm.channel">
  <div class="page-header">
    <h2>Forecast for {{vm.channel.location.city}}, {{vm.channel.location.country}}</h2>
  </div>
  <div class="col-md-4">

    <ul class="list-group">
      <li ng-repeat="item in vm.channel.item.forecast" class="list-group-item" ng-class-even="'list-group-item-info'">
        <h3>{{item.day}}<small>, {{item.date}}</small></h3>
        <div class="h4" ng-if="vm.fahrenheit == 'F'">
          High: <span class="label label-danger">{{item.high}} &#8457;</span>
          &nbsp;
          Low: <span class="label label-primary">{{item.low}} &#8457;</span>
        </div>
        <div class="h4" ng-if="vm.fahrenheit == 'C'">
          High: <span class="label label-danger">{{vm.convertToCelcius(item.high)}} &#8451;</span>
          &nbsp;
          Low: <span class="label label-primary">{{vm.convertToCelcius(item.low)}} &#8451;</span>
        </div>
        <h4>{{item.text}}</h4>
      </li>
    </ul>
    <a ng-href="#/search" class=" btn btn-default btn-lg">Back to Search</a>
    <a ng-href="#/weather/{{vm.channel.location.city}}" class=" btn btn-info btn-lg">Back to Details</a>
  </div>
  <div class="col-md-8">

    <forecast-chart dp="vm.channel.item.forecast" unit="vm.fahrenheit"></forecast-chart>
    <degree-selector unit="vm.fahrenheit"></degree-selector>
  </div>
</div>
<div class="text-warning" ng-show="vm.error">
  <h4>City not found</h4>
</div>
